﻿@model User
@{
    ViewData["Title"] = "AddUser";
}

<form id="UserForm" method="post">

    <label for="FirstName">First Name</label>
    <input type="text" id="FirstName" name="FirstName" required>

    <label for="LastName">Last Name</label>
    <input type="text" id="LastName" name="LastName" required>

    <label for="Age">Age</label>
    <input type="number" id="Age" name="Age" required>

    <label for="Salary">Salary</label>
    <input type="text" id="Salary" name="Salary" required>

    <button type="button" id="addUser">Add</button>
</form>

<div id="result"></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#addUser").on("click", function () {
            //var formData = $("#UserForm").serialize();
            var formData = {
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                Age: $("#Age").val(),
                Salary: $("#Salary").val()
            };
            console.log(formData);

            $.ajax({

                type: "POST",
                url: "/User/AddUser",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: formData,
                //contentType: "application/json; charset=utf-8",
                //data: JSON.stringify(formData),
                success: function (data) {
                    debugger;
                    console.log(data);
                    console.log("Success");
                    alert("success");
                    window.location.href = "/User/Index"
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>


