﻿@model User

@{
    ViewData["Title"] = "EditUser";
}
<h1>EditUser</h1>
<form id="editForm" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id">

    <label for="FirstName">First Name</label>
    <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" required>

    <label for="LastName">Last Name</label>
    <input type="text" id="LastName" name="LastName" value="@Model.LastName" required>

    <label for="Age">Age</label>
    <input type="number" id="Age" name="Age" value="@Model.Age" required>

    <label for="Salary">Salary</label>
    <input type="text" id="Salary" name="Salary" value="@Model.Salary" required>

    <button type="button" id="updateUser">Update User</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#updateUser").on("click", function () {
            var formData = $("#editForm").serialize();

            $.ajax({
                type: "POST",
                url: "/User/EditUser",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: formData,
                success: function (data) {
                    console.log(data.Message);
                    alert("User updated successfully")
                    window.location.href = "/User/Index"
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>


