﻿@model IEnumerable<User> 

@{
    ViewData["Title"] = "Index";
}
<div class="form-group">
    <button type="button" id="addUser">Add new</button>
</div>

<table id="userTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Age</td>
                <td>@user.Salary</td>
                <td>
                    <button class="editUser" data-id="@user.Id">Edit</button>
                    <button class="deleteUser" data-id="@user.Id">Delete</button>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".editUser").on("click", function () {
            var userId = $(this).data("id");

            $.ajax({
                type: "GET",
                url: "/User/EditUser",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { id: userId },
                success: function (data) {
                    console.log(data);
                    window.location.href = "/User/EditUser/" + userId;

                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
       //delete
    $(".deleteUser").on("click", function () {
        var userId = $(this).data("id");

        $.ajax({
            type: "POST",
            url: "/User/DeleteUser",
            data: { id: userId },
            success: function (data) {
                console.log(data);
                alert("User deleted successfully!");
                window.location.href = "/User/Index"
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("#addUser").on("click", function () {
        window.location.href = "/User/AddUser";
    });
</script>


